.container--About {
    @include centrar;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 50px;
    margin-bottom: 80px;
    z-index: 5;
    padding-inline: 150px;

    .parrafo {
        @include centrar;
        flex-direction: column;
        width: 50%;


        p {
            font-size: 1.2rem;
            width: 85%;
            line-height: 2rem;
            color: #FFFFFF;
            margin-bottom: 15px;
            font-family: 'DM Sans', sans-serif;
            letter-spacing: 0.025em;
        }
    }

    .about--Parrafo--4 {
        @include centrar-between;
        max-width: 100%;
        overflow: hidden;
        gap: 50px;
    }
}

.container--foto {
    height: 100%;
    @include centrar;

    img{
        object-fit: cover;
        overflow: hidden;
        width: 350px;
        height: 450px;
        border: 0.5px solid $primary-color;
    }
}


@media only screen and (max-width: 1200px) {
    .parrafo {
        padding: 15px;

        p {
            font-size: 22px;
        }
    }

    .about--Parrafo--4 img {
        width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .about--Parrafo--4 img {
        width: 150px;
    }

    .container--About {
        gap: 50px;

        .parrafo {
            padding: 15px;
            font-size: 20px;
            width: 100%;

            p {
                font-size: 16px;
                line-height: normal;
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .container--About {
        padding: 10px;
        gap: 20px;

        .parrafo {
            padding: 5px;

            P {
                line-height: 1rem;
                font-size: 18px;
            }
        }
    }
}