.container-App{
    @include pm;
    background-color: $primary-color;
    font-family: 'Space Grotesk', sans-serif;
    @include centrar;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

