.container-App {
    @include pm;
    font-family: 'Space Grotesk', sans-serif;
    @include centrar;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 8;
    background: $primary-color;
}
