.container-App{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: 'Space Grotesk', sans-serif;
    @include centrar;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
@media only screen and (max-width: 650px){
    .container-App{
        min-width: 100%;
        min-height: 100vh;
    }
}

