.container--Presentacion {
    @include centrar;
    width: 100%;
    padding: 50px;
    gap: 35px;
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/portada1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .presentacion--Parrafo {
        padding: 10px;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        max-width: 75%;

        p {
            font-size: 2.2rem;
            line-height: 1.5;
            letter-spacing: 3px;
            color: #FFFFFF;
            text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.25);

            &::selection {
                background-color: $fifth-color;
                color: $tertiary-color;
            }
        }

        strong {
            font-size: 3rem;
            color: #FFFFFF;

            &::selection {
                background-color: $fifth-color;
                color: $tertiary-color;
            }
        }
    }
}

.tracking-in-expand{
    @include tracking-in-expand 
}

@media only screen and (max-width: 1200px) {
    .container--Presentacion {
        gap: 5px;
        flex-wrap: wrap;
        padding: 20px;

        .presentacion--Parrafo {
            padding: 0px;

            p {
                font-size: 1.5rem;
                width: 600px;
            }

            strong {
                font-size: 1.8rem;
            }
        }
    }

    .mi--Foto img {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 680px) {
    .container--Presentacion {
        gap: 5px;
        flex-wrap: wrap;
        padding: 20px;

        .presentacion--Parrafo {
            padding: 0px;

            p {
                font-size: 1rem;
                width: 300px;
            }

            strong {
                font-size: 1.3rem;
            }
        }
    }

    .mi--Foto img {
        width: 250px;
        height: 250px;
    }
}