.container--Proyectos {
    @include centrar;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;

    a {
        text-decoration: none;
        color: #CCCCCC;

        &:hover {
            color: $tertiary-color;
        }
    }

    article{
        @include centrar;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
    }
}

.proyectos--Titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;

    h2 {
        letter-spacing: 3px;
        font-size: 40px;
        color: #FFFFFF;
    }

    p {
        font-size: 20px;
        letter-spacing: 2.5px;
        color: #CCCCCC;
    }
}

.proyectos--Lista {
    @include centrar;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    @include pm;
    flex-direction: column;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
    .proyectos--Lista {
        padding: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .container--Proyectos {
        padding: 10px;

        .proyectos--Lista {
            margin: 0;
        }
    }

}

@media only screen and (max-width: 782px) {
    .container--Proyectos {
        gap: 30px;

        .proyectos--Lista {
            margin: 0;
            gap: 15px;
        }
    }

    .proyectos--Titulo {
        width: 90%;

        h2 {
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 586px) {
    .proyectos--Lista {
        margin: 0;
        padding: 10px;
        width: 90% auto;

        .proyectos--Titulo {
            padding: 20px;
            padding: 0;
            width: 60%;
        }
    }

}

@media only screen and (max-width: 480px) {
    .proyectos--Titulo {
        padding: 0;
        width: 70%;
        padding: 10px;

        .proyectos--Lista {
            margin: 0;
            width: 90% auto;
        }
    }

}