.proyecto {
    @include centrar-between;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: $color-navbar-2;
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
    overflow: hidden;
    transition: all 0.5s;
    padding-top: 0;
    @include shadow;

    &:hover{
        @include shadow-3;
    }

    

    strong {
        font-size: 24px;
        color: #FFFFFF;
    }

    img {
        width: 370px;
        top: 0;
        height: 250px;
        object-fit: cover;
        margin: 0;
    }
    section{
        display: flex;
        justify-content: flex-start;
        align-items: top;
        flex-wrap: wrap;
        flex-direction: column;

        p {
            font-size: 18px;
            margin: 0;
            color: #CCCCCC;
            text-align: start;
            max-width: 350px;
        }
    }
}

.proyecto--Detalle {
    @include centrar;
    flex-direction: column;
}

.proyectos--Button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;

    p{
        color: #CCCCCC;
        font-size: 14px
    }

    button {
        @include centrar;
        gap: 8px;
        padding: 7px 10px;
        border-radius: 5px;
        border: none;
        color: #CCCCCC;
        background-color: $tertiary-color ;

        &:hover {
            background-color: $secondary-color;
            color: $tertiary-color;
        }
        a,i{
            &:hover{
                color: $tertiary-color;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .proyecto--Detalle {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    /* .container_proyectos {
        padding: 10px;
    } */

    .proyecto--Detalle {
        width: 100%;

        p,
        strong {
            letter-spacing: normal;
            font-size: 18px;
        }
    }

    /* .proyecto img {
        width: 350px;
        height: auto;
        object-fit: cover;
    } */
}

@media only screen and (max-width: 782px) {
    .container_proyectos {
        gap: 30px;
    }

    .proyecto--Detalle {
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;

        img {
            width: 100%;
        }

        p,
        strong {
            letter-spacing: 3px;
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 500px){
    .proyecto{
        width: 300px;

        section{
            padding: 0px 5px;
            font-size: 14px;
        }

        button{
            padding: 5px 7px;
        }

        .proyectos--Button{

            p{
                font-size: 12px;
            }
        }
    }
}