.proyecto {
    @include centrar;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $color-navbar-2;
    border-radius: 5px;
    cursor: pointer;

    p {
        font-size: 20px;
        letter-spacing: 3px;
        margin: 0;
        width: 600px;
        height: 250px;
        word-wrap: break-word;
        color: $tertiary-color;
    }

    strong {
        font-size: 24px;
        color: $tertiary-color;
    }

    img {
        max-width: 500px;
        min-height: 250px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.proyecto--Detalle {
    display: flex;
    justify-content: top;
    align-items: top;
    gap: 25px;
    flex-direction: row;
    padding: 0px;
}

.proyectos--Button {
    display: flex;
    padding: 0px;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: $secondary-color;

        &:hover {
            background-color: #4faca4;
        }

        .a {
            color: $primary-color;
            text-decoration: none;
        }
    }
}


@media only screen and (max-width: 1200px) {
    .proyecto--Detalle {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .container_proyectos {
        padding: 10px;
    }

    .proyecto--Detalle {
        width: 100%;

        p,
        strong {
            letter-spacing: normal;
            font-size: 18px;
        }
    }

    .proyecto img {
        width: 350px;
        height: auto;
        object-fit: cover;
    }
}

@media only screen and (max-width: 782px) {
    .container_proyectos {
        gap: 30px;
    }

    .proyecto--Detalle {
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;

        img {
            width: 100%;
        }

        p,
        strong {
            letter-spacing: 3px;
            font-size: 14px;
        }
    }
}