.container_about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.about_parrafo--1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 50px 0px 50px;
    min-width: 100%;
}
.about_parrafo--1 p{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 6.5rem;
}
.about_parrafo--2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    min-width: 100%;
}
.about_parrafo--2 p{
    font-size: 22px;
    text-transform: uppercase;
    line-height: 3rem;
}
.about_parrafo--3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    min-width: 100%;
}
.about_parrafo--3 p{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 6.5rem;
}
.about_parrafo--4{
    display: flex;
    min-width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.about_parrafo--4 p{
    font-size: 18px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1500px){
    .about_parrafo--1 p{
        font-size: 50px;
        line-height: 5.5rem;    
    }
    .about_parrafo--3 p{
        font-size: 50px;
        line-height: 5.5rem; 
    }
}
@media only screen and (max-width: 1000px){
    .about_parrafo--1 p{
        font-size: 40px;  
    }
    .about_parrafo--1{
        padding: 25px
    }
    .about_parrafo--2{
        padding: 25px
    }
    .about_parrafo--3{
        padding: 25px
    }
    .about_parrafo--3 p{
        font-size: 40px;
    }
    .about_parrafo--4 img{
        width: 200px;
    }
}
@media only screen and (max-width: 800px){
    .about_parrafo--1 p{
        font-size: 30px; 
        line-height: 3rem; 
    }
    .about_parrafo--3 p{
        font-size: 30px;
        line-height: 3rem;
    }
    .about_parrafo--4 img{
        width: 150px;
    }
    .about_parrafo--2 p{
        font-size: 18px;
        line-height: 1.5rem;
    }
    .about_parrafo--1{
        padding: 15px
    }
    .about_parrafo--2{
        padding: 15px
    }
    .about_parrafo--3{
        padding: 15px
    }
}

@media only screen and (max-width: 800px){
    .about_parrafo--1{
        padding: 5px
    }
    .about_parrafo--2{
        padding: 5px
    }
    .about_parrafo--3{
        padding: 5px
    }
    .about_parrafo--4{
        padding: 5px
    }

}
