.container--Navbar{
    margin: 0 auto;
    position: fixed;
    height: 130px;
    top: 0;
    z-index: 10;
    font-size: 20px;
    transition: all 0.6s;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #24303d;
}
.scrolled{
    background-color: rgba(36, 48, 61, 0.6);
}
.container--Redes{
    display: flex;
    gap: 60px;
    margin: 0px 0px 0px 35px;
}
.container--Redes a{
    font-size: 30px;
    color: #0D9488;
    transition: all 0.3s;
}
.container--Redes a:hover{
    color: #ffffff;
}
.container--Navbar a{
    text-decoration: none;
}
.navbar--Links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 35px 0px 0px;
}
.navbar--Links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    letter-spacing: 3px;
}
.navbar--Links ul a{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #f6f6f6;
}

.navbar--Links ul a:hover, .navbar--Links ul a:focus {
    background-size: 100% 2px;
    cursor: pointer;
    color: #0D9488;
}

.navbar--Responsive{
    display: none;
    height: 0;
    width: 60%;
    background-color: #0D9488;
    transition: all 1s;
}
.navbar--Responsive ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    gap: 15px;
    letter-spacing: 2.5px;
    text-align: start;
    margin: 0;
}
.navbar--Responsive a{
    color: #f6f6f6;
}
.navbar--Avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(36, 48, 61, 0.3);
}
.avatar img{
    object-fit: cover;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.navbar--Avatar h2{
    color: #f6f6f6;
}

.lines{
    display: none;
}

@media only screen and (max-width: 800px){
    .navbar--Links{
        display: none;
    }
    .lines{
        display: flex;
        flex-direction: column;
        width: 3rem;
        border: 0;
        background-color: transparent;
        gap: 0.65rem;
        margin-right: 25px;
    }
    .lines > div{
        background: #0D9488;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .3s;
        transform-origin: left;
    }
    .lines:hover div:first-child{
        transform: rotate(45deg);
    }
    .lines:hover div:nth-child(2){
        opacity: 0;
    }
    .lines:hover div:last-child{
        transform: rotate(-45deg);
    }
    .navbar--Open {
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        min-height: 100vh;
        z-index: 100;
    }
}
