.container_navBar{
    top: 0;
    position: fixed;
    min-width: 100%;
    font-size: 20px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    transition: all 0.5s;
    margin: 0;
}
.scrolled{
    background-color: rgba(0, 0, 0, 0.3);
}

.container_navBar a{
    text-decoration: none;
    color: #292a2c;
}

.navBar--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container_navBar h1 a{
    font-size: 50px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    color: #292a2c;
}
.container_navBar h1 a:hover{
    color: #600b0b;
}

.navbar--responsive{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar--responsive ul{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    list-style: none;
    gap: 30px;
    letter-spacing: 3.5px;
    text-align: center;
    margin: 10 0 0 0;
}
.navbar--responsive a{
    color: #a0abc3;
}
.navBar--links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar--links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    letter-spacing: 3.5px;
}
.navBar--links ul a{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #292a2c;
}

.navBar--links ul a:hover, .navBar--links ul a:focus {
    background-size: 100% 2px;
    cursor: pointer;
    color: #600b0b;
}
.lines{
    display: none;
}

@media only screen and (max-width: 700px){
    .navBar--links{
        display: none;
    }
    .lines{
        display: flex;
        flex-direction: column;
        width: 3rem;
        border: 0;
        background-color: transparent;
        gap: 0.65rem;
    }
    .lines > div{
        background: black;
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .3s;
        transform-origin: left;
    }
    .lines:hover div:first-child{
        transform: rotate(45deg);
    }
    .lines:hover div:nth-child(2){
        opacity: 0;
    }
    .lines:hover div:last-child{
        transform: rotate(-45deg);
    }
    .navbar--open {
        display: flex;
        justify-content: center;
        align-items: top;
        min-width: 100%;
        height: 100vh;
        z-index: 100;
        gap: 30px;
        text-align: center;
        margin: 7px 0px 0px 0px;
    }
}
