.container--Proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0D9488;
}
.proyectos--Titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.proyectos--Titulo h2{
    letter-spacing: 3px;
    font-size: 40px;
    color: #f6f6f6;
}
h3 a{
    text-decoration: none;
    color: #283845;
}
h3 a:hover{
    color: #f6f6f6;
}
.proyectos--Titulo P{
    font-size: 20px;
    letter-spacing: 3px;
    color: #f6f6f6;
}
.proyectos--Lista{
    display: block;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 50px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 50px;
    margin-left: 50px;
}
@media only screen and (max-width: 1200px){
    .proyectos--Lista{
        padding: 10px;
    }
    .proyectos--Lista{
        margin: 10px;
    }
}

@media only screen and (max-width: 1000px){
    .container--Proyectos{
        padding: 10px;
    }
    .proyectos--Lista{
        margin: 0;
    }
}
@media only screen and (max-width: 782px){
    .container--Proyectos{
        gap: 30px;
    }
    .proyectos--Lista{
        margin: 0;
        gap: 15px;
    }
    .proyectos--Titulo{
        padding: 10px 10px 10px 50px;
    }
    .proyectos--Titulo h2{
        font-size: 30px;
    }
}
@media only screen and (max-width: 586px){
    .proyectos--Titulo{
        padding: 0;
        width: 60%;
    }
    .proyectos--Lista{
        margin: 0;
        padding: 10px;
        width: 90% auto;
    }
    .proyectos--Titulo{
        padding: 20px;
    }
}
@media only screen and (max-width: 480px){
    .proyectos--Titulo{
        padding: 0;
        width: 70%;
    }
    .proyectos--Lista{
        margin: 0;
        width: 90% auto;
    }
    .proyectos--Titulo{
        padding: 10px;
    }

}