$color-navbar-1: rgb(36, 48, 61);
$color-navbar-2: rgba(36, 48, 61, 0.6);
$primary-color: #283845;
$secondary-color: #CCCCCC;
$tertiary-color: #d65725;
$fifth-color: #000000;

@mixin font-orbitron{
    font-family: 'Orbitron', sans-serif;
}

@mixin centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centrar-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin links {
    background-size: 100% 2px;
    cursor: pointer;
    color: rgb(214, 87, 37);
};

@mixin pm{
    padding: 0;
    margin: 0;
}

@mixin shadow {
    box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 10px 38px 2px rgba(0,0,0,0.18);
}

@mixin shadow-2 {
    box-shadow: 0px 10px 38px 2px rgba(13, 148, 136, 0.18);
    -webkit-box-shadow: 0px 10px 38px 2px rgba(13, 148, 136, 0.18);
    -moz-box-shadow: 0px 10px 38px 2px rgba(13, 148, 136, 0.18);
}
@mixin shadow-3 {
    box-shadow: 0px 0px 5px 0px rgba(214,87,37,0.83);
-webkit-box-shadow: 0px 0px 5px 0px rgba(214,87,37,0.83);
-moz-box-shadow: 0px 0px 5px 0px rgba(214,87,37,0.83);
}


@mixin tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s 1s;
    animation: tracking-in-expand 1s 1s;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}